{% load static %}
<div class="sidebar" id="sidebar">
    <div class="top-section">
        <div class="logo-wrapper" id="logoToggle">
            <img src="{% static 'img/general/uph.png' %}" class="logo" alt="Logo">
            <div class="open-icon"><i class="fas fa-chevron-right"></i></div>
        </div>
        <button class="close-btn" id="closeBtn"><i class="fas fa-chevron-left"></i></button>
    </div>

    <ul class="menu">
        <li>
            <a href="{% url 'admin_dashboard' %}" class="menu-item {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
                <i class="fas fa-users-cog"></i> <span>User Management</span>
            </a>
        </li>

        <li>
            <a href="{% url 'employee_list' %}" class="menu-item {% if request.resolver_match.url_name == 'employee_list' %}active{% endif %}">
                <i class="fas fa-id-badge"></i> <span>Employee Records</span>
            </a>
        </li>

        <li>
            <a href="{% url 'department_management' %}" class="menu-item {% if request.resolver_match.url_name == 'department_management' %}active{% endif %}">
                <i class="fas fa-sitemap"></i> <span>Department Management</span>
            </a>
        </li>

        <li>
            <a href="{% url 'audit_trails' %}" class="menu-item {% if request.resolver_match.url_name == 'audit_trails' %}active{% endif %}">
                <i class="fas fa-history"></i> <span>Audit Trails</span>
            </a>
        </li>

        <li>
            <a href="{% url 'security_settings' %}" class="menu-item {% if request.resolver_match.url_name == 'security_settings' %}active{% endif %}">
                <i class="fas fa-shield-alt"></i> <span>Security Settings</span>
            </a>
        </li>
    </ul>

    <div class="bottom-section">
        <form action="{% url 'logout' %}" method="post" id="logout-form" style="display:none;">
            {% csrf_token %}
        </form>
        <a href="#" class="menu-item logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            <i class="fas fa-sign-out-alt"></i> <span>Log Out</span>
        </a>
    </div>
</div>