<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/general/uph.png">
    <link rel="stylesheet" href="../../static/css/dashboard/hr_dash.css">

    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <div class="background"></div>

    <div class="sidebar" id="sidebar">

        <!-- TOP -->
        <div class="top-section">
            <div class="logo-wrapper" id="logoToggle">
                <img src="../../static/img/general/uph.png" class="logo">
                <div class="open-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <button class="close-btn" id="closeBtn">
                <i class="fas fa-chevron-left"></i>
            </button>
        </div>

        <!-- MENU -->
        <ul class="menu">

            <li>
                <a href="hr_dash.html" class="menu-item active">
                    <i class="fas fa-border-all"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="../accounts/hr_profile_view.html?id=2024-001" class="menu-item">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>

            <hr>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-file"></i>
                    <span>Application Management</span>
                </a>
            </li>

            <li>
                <a href="../hr/employee_management/hr_employeelist.html" class="menu-item">
                    <i class="fas fa-database"></i>
                    <span>Employee Records</span>
                </a>
            </li>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-calendar"></i>
                    <span>Attendance Monitoring</span>
                </a>
            </li>

            <li>
                <a href="../leave/hr_leaveselect.html" class="menu-item">
                    <i class="fas fa-briefcase"></i>
                    <span>Leave Management</span>
                </a>
            </li>

            <!-- ADDED -->
            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-star"></i>
                    <span>Performance Evaluation</span>
                </a>
            </li>

            <!-- ADDED -->
            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-folder-open"></i>
                    <span>Document Management</span>
                </a>
            </li>

            <!-- ADDED -->
            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Trainings</span>
                </a>
            </li>

            <li>
                <a href="ENTER" class="menu-item">
                    <i class="fas fa-chart-line"></i>
                    <span>Reports / Analytics</span>
                </a>
            </li>

        </ul>


        <!-- LOGOUT -->
        <div class="bottom-section">
            <a href="../login/login.html" class="menu-item logout">
                <i class="fas fa-sign-out-alt"></i>
                <span>Log Out</span>
            </a>
        </div>

    </div>

    </div>
